<%- include("header")  -%>
<!-- apply css from box class and special id-->
        <div class= "box" id= "heading">

<!--value rendered from app.js-->
<h1> <%= listTitle %></h1>

        </div>

        <div class = "box">

            
        
        
                <!--  loop through list items array and render list items on page within the list tags-->
        
                 <% for (var i=0; i<newListItems.length; i++) { %>
                     <div class= "item">
                         <input type="checkbox">

                        <p><%= newListItems[i]%></p>
                     </div>
              
                <% } %>

        <!-- post info to the server at the home route-->
   <form class= "item" action= "/" method= "post" >
    <input type = "text" name= "newItem" placeholder= "New Item" autocomplete= "off">
                                                     <!--passing the litsTitle dynmaically-->
    <button type = "submit" name=  "list" value=  <%= listTitle %>>+</button>
    
    </form>
                
                       
        </div>

        <%- include ("footer") -%>
             

     




    
     
        
